header {
  padding: 5px 0;
  background-color: white;
}

.headerContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 35px auto;
}

.Logo {
  height: 45px;
}

.iconsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconsContainer > div {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.iconsContainer > div > a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.btnConfig {
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
}

footer {
  padding: 5px 0;
  color: rgb(218, 218, 218);
  background-color: black;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 35px auto;
  width: 90%;
}

.LogosFooterContainer {
  display: flex;
  align-items: center;
}

.LogosFooterContainer > img {
  height: 45px;
}

.socialNetworksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.notificationsConfigContainer {
  display: flex;
  align-items: center;
}

.hamburguerMenu {
  display: none;
  cursor: pointer;
}

@media (max-width: 885px) {
  .hamburguerMenu {
    display: block;
  }

  .iconsContainer {
    display: none;
  }
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }

  .socialNetworksContainer {
    order: 1;
  }

  .LogosFooterContainer {
    order: 2;
    margin: 30px 0;
  }

  .footerContainer p {
    order: 3;
    margin-bottom: 0;
  }

  .Logo {
    height: 35px;
  }
}
